.noodles {
    width: 100%;
    padding: 100px 0;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    max-width: 300px;
    width: 100%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 30px;
    padding: 10px 30px;
    min-height: 350px;
}
.card-img {
    overflow: hidden;
    margin-top: -100px;
    background-color: transparent;
}
.card-img img {
    max-width: 280px;
    max-height: 280px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
}
.card:hover .card-img img {
    transform: scale(1.1);
}
.card-body {
    padding: 10px 0;
}
.card-body h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.01em;
}
.desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    padding: 10px 0;
}
.star {
    font-size: 18px;
    color: #1c1414;
    font-weight: 500;
}
.star span {
    color: #f6de3a;
}
.card-body h5 {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.01em;
    padding: 10px 0;
}
button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    margin-left: 200px;
}